{% extends 'base.html' %}
{% block title %}Transaction list{% endblock %}
{% block css %}
<style>
  .container {
    min-height: 75vh;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
</style>
{% endblock css %}
{% block content %}
<h2>Transaction List</h2>
<ul>
    {% for transaction in transactions %}
        <li>
            <a href="{% url 'transaction_detail' transaction.pk %}">{{ transaction.transaction_id }}</a> - {{ transaction.amount }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
